* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header bo'limi */
header {
    width: 1440px;
    height: 119px;
    display: flex;
    align-items: center;
    background-color: #191919;
}

header .nav {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 51px;
    padding-right: 70px;
}

header .nav .nav-logo {
    width: 159.15px;
    height: 32.62px;
}

header .nav .nav-menu {
    width: 403px;
    height: 67px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-menu .nav-item .nav-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}

.nav-menu .nav-item .nav-link:hover {
    color: #118DA8;
}

/*----------------------------------------- Header Finish */
/* Home Page */
.home {
    width: 1440px;
    height: 913px;
    background-color: #191919;
    padding: 40px 70px 0.5px;
    position: relative;
}

.home-page {
    width: 1300px;
    height: 873.44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

.home-page>img {
    width: 650px;
    height: 873px;
}

.home-page .text {
    width: 530px;
    height: 610.58px;
    position: relative;
    padding-top: 163px;
}

.home-page .text p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
}

.home-page .text>img {
    width: 163px;
    height: 11px;
    position: absolute;
    bottom: 179px;
    right: 367px;
}

.home-page .text span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    bottom: 70px;
    left: 22px;
}

.home-page .text .icons {
    width: 245px;
    height: 32px;
    position: absolute;
    bottom: 22px;
    left: 22px;
    display: flex;
    justify-content: space-around;
}

.home-page .text .icons img {
    width: 32px;
    height: 32px;
}

.home-png {
    width: 68px;
    height: 74px;
    position: absolute;
    top: 14px;
    left: 44px;
}

/*----------------------------------------- HomePage Finish */
/* Episodes Page */

.episodes {
    width: 1440px;
    height: 2088px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100.44px 50px 0;
}

.title {
    width: 1300px;
    height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}

.title button {
    width: 178px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #118DA8;
    border-radius: 6px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}

.episodes .cards {
    width: 1300px;
    height: 1689px;
    margin-top: 39.56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.episodes .cards .card {
    width: 1300px;
    height: 545px;
    background: #000000;
    border-radius: 32px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.episodes .cards .card img {
    width: 389px;
    height: 465px;
}

.episodes .cards .card .text {
    width: 778px;
    height: 465px;
    position: relative;
}

.episodes .cards .card .text * {
    position: absolute;
}

.episodes .cards .card .text .btn1 {
    padding: 0 16px;
    width: auto;
    height: 27px;
    background: #191919;
    border-radius: 6px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    top: 7.56px;
}

.episodes .cards .card .text span {
    top: 83px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
}

.episodes .cards .card .text h1 {
    top: 127.56px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    color: #FFFFFF;
}

.episodes .cards .card .text p {
    top: 296.56px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
}

.episodes .cards .card .text .btn2 {
    top: 413.56px;
    padding: 12px 15px 12px 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #118DA8;
    border-radius: 6px;
}

/*----------------------------------------- Episodes Finish */
/* Form Page */
.form {
    width: 1440px;
    height: 1530.44px;
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form .page-one {
    width: 1440px;
    height: 943px;
    padding: 0 20px;
}

.form .page-one .container {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-one .container .text {
    width: 590px;
    height: 448px;
    position: relative;
}

.page-one .container .text img {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 0;
    left: 0;
}

.page-one .container .text span {
    position: absolute;
    top: 131.84px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}

.page-one .container .text h1 {
    position: absolute;
    top: 156.84px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}

.page-one .container .text .text-one {
    position: absolute;
    top: 264.84px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
}

.page-one .container .text .text-twoo {
    position: absolute;
    top: 363.84px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
}

.page-one .container>img {
    width: 650px;
    height: 743px;
}

.form .page-twoo {
    width: 1440px;
    height: 587px;
    padding: 0 20px;
}

.form .page-twoo .container {
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    position: relative;
}

.form .page-twoo .container img {
    position: absolute;
    left: 12px;
    bottom: 74px;
}

.form .page-twoo .container form {
    width: 1300px;
    height: 387px;
    border-radius: 32px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

.form .page-twoo .container form .text {
    width: 642px;
    height: 330px;
    position: relative;
}

.form .page-twoo .container form .text span {
    position: absolute;
    top: 59.12px;
    left: 60px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}

.form .page-twoo .container form .text h1 {
    width: 431px;
    position: absolute;
    left: 60px;
    top: 85.12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}

.form .page-twoo .container form .inps {
    width: 522px;
    height: 252px;
    margin-top: 59.88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form .page-twoo .container form .inps input {
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    height: 82px;
    width: 522px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-left: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.form .page-twoo .container form .inps button {
    padding: 9px 15px 10px 19px;
    background: #118DA8;
    border-radius: 6px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    width: 87px;
}

/*----------------------------------------- Form Page Finish */
/* About Page */
.about {
    width: 1440px;
    height: 901px;
    background: #191919;
    padding: 0 20px;
}

.about .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 100px 50px;
}

.about .container .card {
    width: 423px;
    height: 321px;
    background: #000000;
    border-radius: 32px;
    padding-left: 50px;
    padding-top: 54px;
}

.about .container .card .stars {
    margin-bottom: 20px;
    width: 110px;
    height: 16.36px;
    display: flex;
    justify-content: space-between;
}

.about .container .card .stars .item {
    width: 17px;
    height: 16px;
    clip-path: polygon(49% 1%, 69% 29%, 98% 35%, 74% 60%, 79% 91%, 50% 76%, 21% 91%, 26% 59%, 2% 35%, 32% 30%);
    background: #FCFF51;
}

.about .container .card h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    width: 313px;
    margin-bottom: 20px;
}

.about .container .card p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}

/*----------------------------------------- About page Finish */
/* Footer */
footer {
    width: 1440px;
    height: 438px;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bar {
    width: 1300px;
    height: 238px;
    display: flex;
    justify-content: space-between;
}

.footer-bar .footer-logo {
    width: 447.14px;
    height: 222px;
    position: relative;
}

.footer-bar .footer-logo>img {
    width: 222.82px;
    height: 45.47px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-bar .footer-logo .box {
    position: absolute;
    top: 66.11px;
    left: 0;
    width: 100%;
    height: 27px;
    padding-right: 361px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-bar .footer-menu1, .footer-menu2 {
    height: 222px;
    width: 179px;
    list-style: none;
    padding-bottom: 84.87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bar .footer-menu1 li a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-bar .footer-menu2{
    padding-bottom: 10.88px;
}
.footer-bar .footer-menu2 li a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-bar .footer-menu2 {
    height: 222px;
    width: 179px;
}

.footer-bar .footer-icons {
    width: 447.14px;
    height: 32px;
    padding-right: 221px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}